.posts_title {
  color: #0088cce7;
  
  font-size: 20px;
  text-align: center;
}

.posts {
  display: flex;
  justify-content: space-around;
  text-align: center;
} 

.array_posts {
  display: block;
  margin-top: -200px;
}

.input_title {
  color: #F7F9FB;
  padding-top: 10px;
}

.input_post {
  position: relative;
  padding: 15px 38px;
  border-radius: 8px;
}

.button {
  position: absolute;
  padding: 8px 14px;
  border-radius: 8px;
  border-color: #1f8ec5;
  background-color: #0088cce7;
}

.button:hover {
  transform: color 0.6s linear;
  background-color: rgb(30, 118, 211);
}

