.posts_title {
  color: rgb(237, 239, 104);
  font-size: 20px;
  text-align: center;
}

.posts {
  display: flex;
  justify-content: space-around;
  text-align: center;
} 

.array_posts {
  display: block;
  margin-top: -200px;
}

.input_title {
  color: #fff;
  padding-top: 10px;
}

.input_post {
  position: relative;
  padding: 15px 38px;
  border-radius: 8px;
}

.button {
  position: absolute;
  padding: 8px 14px;
  border-radius: 8px;
  border-color: rgb(145, 187, 30);
  background-color: rgba(59, 187, 30, 0.76);
}

.button:hover {
  transform: color 0.4s all;
  background-color: rgb(30, 187, 114);
}

