.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}

.header_img {
  width: 75px;
  padding: 40px 20px;
}

.header_title {
  padding: 50px;
  text-align: center; 
  color: rgb(241, 188, 115);
}

.title {
  font-size: 40px;
  font-family: italic;
}

