.footer {
  display: grid;
  grid-area: f;
}

.title {
  text-align: center;
  padding-bottom: 10px;
}

.mail {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}