.contaner {
  display: block;
  max-width: 400px;
}

.profile {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
}

.avatar_img {
  width: 100px;
  padding: 50px;
}

.profile_description {
  color: #FFF;
  text-transform: uppercase
}