.wrapper {
  padding-top: 20px;
}

.avatar_wrapper {
  display: flex;
  flex-wrap: wrap;
  
}

.avatar_img {
  width: 85px;
  border-radius: 11px;
  border: 1px solid #0088CC;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
}

.post {
  display: block;
  color: #F7F9FB;
}

.post_text {
  padding: 20px;
  color: #F7F9FB;
}

.like_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.like_img {
  width: 30px;
  padding-right: 10px;
}