
.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs_items {
  padding: 15px;
  width: 30%;
  color: #FFF;
  margin: 35px;
}

.dialog {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  color: rgb(60, 84, 44);
  margin: 15px;
}

.img {
  width: 25px;
  margin-right: 25px;
}

.messages {
  width: 70%;
}

.message {
  padding: 15px;
  color: rgb(24, 59, 13);
  border: 1px solid #FFF;
  border-radius: 5px;
  margin: 15px;
}
